/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* gantari-regular - latin */
@font-face {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../fonts/gantari-v1-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* gantari-500 - latin */
  @font-face {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 500;
    src: local(""),
         url("../fonts/gantari-v1-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* gantari-600 - latin */
  @font-face {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 600;
    src: local(""),
         url("../fonts/gantari-v1-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* gantari-700 - latin */
  @font-face {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 700;
    src: local(""),
         url("../fonts/gantari-v1-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* gantari-800 - latin */
  @font-face {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 800;
    src: local(""),
         url("../fonts/gantari-v1-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: local(""),
         url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local(""),
         url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: local(""),
         url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-800 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: local(""),
         url("../fonts/poppins-v20-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Gantari", "Arial", sans-serif;    
}

.container1 {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 25px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 40px 0;
}

/* Hero section */

.hero-section {
    background-image: url(../images/hero-img.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-heading {
    font-family: "Gantari", "Arial", sans-serif;
    padding-top: 50px;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero p {
    font-family: "Gantari", "Arial", sans-serif;
    margin-top: 16px;
    width: 780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 70px;
}

/* End Hero section */
/* Searchbox */

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
    width: 940px;
    height: 56px;
    background: #F4F4F4;
    border-radius: 10px;
    padding: 0 24px;
}

.search-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.search-logo {
    margin-right: 24px;
    cursor: pointer;
}

/* End Searchbox */

/* Popular section */

.popular-header h2 {
    margin-top: 56px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #356EAD;
    opacity: 0.8;
}

.popular-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 33px;
}

.popular-box-1 p {
    width: 380px;
    height: 150px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.6;
}

.popular-box-1 h3 {
    width: 400px;
    height: 116px;
    font-family: 'Galien';
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular-footer-box {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.popular-footer-box-1 span {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular-footer-box-1 time {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
    margin-top: 4px;
}

.share-logo {
    margin-left: 35px; 
}

.popular-img-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.popular-img-box-1,
.popular-img-box-2,
.popular-img-box-3 {
    width: 300px;
    height: 479px;
}

.popular-style-header {
    font-family: 'Galien';
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular-style-par {
    width: 297px;
    height: 103px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.0em;
    color: rgba(0, 0, 0, 0.6);
}

.all-article {
    font-size: 16px;
    margin-top: 54px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #356EAD;
    opacity: 0.8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
}

/* End Popular section */

/* Description section */

.desc-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.description-box-1 {
    margin-left: 19px;
}

.desc-box h3 {
    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin: 0;
}

.desc-box p {
    width: 539px;
    height: 80px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.desc-header {
    margin-bottom: 32px;
}

.desc-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.arrows-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.arrows-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.new {
    margin-left: 19px;
}

.old {
    margin-right: 19px;
}

a {
    text-decoration: none;
}

/* End Description section */

/* Footer */

.footer {
    margin-top: 96px;
    background-image: url(../images/footer-background-img.png);
    height: 869px;
    width: 1270px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 91px;
}

.footer-top-left h3 {
    width: 317px;
    height: 92px;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;    
}

.footer-top-left p {
    width: 460px;
    height: 80px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6; 
}

.btn-link a {
    color: #fff;
    padding: 15px 75px;
    background: #5A98D0;
    border-radius: 10px;
}

.horizanlat-line {
    width: 1073px;
    height: 0px;
    margin-left: 0;
    margin: 96px 0;
}

.main-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

li {
    list-style: none;
}

.lorem {
    width: 264px;
    height: 48px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;   
    list-style: none; 
    padding-right: 16px;
}

.lorem2 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer-boxs-fox {
    font-size: 20px;
    line-height: 30px;    
    letter-spacing: 0.05em;
    color: #FFFFFF;    
}

span {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ml-left {
    margin: 0;
    padding: 0;
}

.topped {
    padding-bottom: 32px;
}

/* End Footer */

/* Contact page */

.contact-section {
    margin-top: 60px;
} 

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-img img {
    margin-bottom: 71px;
}

.contact-header h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;    
}

.contact-left p {
    width: 299px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.phones {
    display: flex;
    align-items: center;
}

.phone-logo {
    margin-right: 16px;
}

.contact-right {
    padding: 56px;
    width: 540px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.contact-right h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;    
}

.contact-right p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.contact-right input {
    width: 428px;
    padding: 21px 42px;
    border: 1px solid #356EAD;
    border-radius: 10px;
    outline: none;
}

.contact-right textarea {
    width: 428px;
    height: 144px;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding: 21px 36px;
    outline: none;
}

.contact-right input:focus {
    border-color: #006eff;
}

.contact-right textarea:focus {
    border-color: #006eff;
}

.button {
    margin-top: 72px;
}

.btn {
    padding: 23px 184px;
    color: #fff;
    background: #5A98D0;
    border: none;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    cursor: pointer;
}



/* End Contact page */